//colors
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1:#f7f7f7;

//Grids-Variables
$grid-width:114rem;
$gutter-verticle:8rem;
$gutter-horizontal:6rem;