.card{
    perspective: 150rem;
    //  perspective-origin: 150rem;
    -moz-perspective: 150rem;
    
    position: relative;
    transition: 8s ease-in-out;
    height: 50rem;

    &__side{
        color: #fff;
        font-size: 2rem;

        height: 50rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
        transition: transform .8s ease;

        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(to right bottom , $color-secondary-light , $color-secondary-dark);
            }
        }
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
}